html {
  box-sizing: border-box;
}

.bg-holder {
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background-repeat: no-repeat;
}

.bg-card {
  background-image: url(./40.jpg);
  background-size: cover;
  background-position: center;
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}
